@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
  @apply bg-yellow-600;
  @apply text-gray-900;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
