@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TT Norms Pro';
  font-weight: 1 999;
  src: url('/tt-norms-pro-var-roman.woff2') format('woff2');
}

@font-face {
  font-family: 'TT Norms Pro';
  font-weight: 1 999;
  font-style: italic;
  src: url('/tt-norms-pro-var-italic.woff2') format('woff2');
}

*::selection {
  @apply bg-yellow-600;
  @apply text-gray-900;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
